<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arbitrary_record.name %>
</p>

<%= link_to 'Edit', edit_arbitrary_record_path(@arbitrary_record) %> |
<%= link_to 'Back', arbitrary_records_path %>
